<div class="container">
    <h1 class="bg-primary text-white text-center">WEATHER MONITORING</h1>
    <h1 class="text-primary">{{details.location.name}}</h1><br>
    <div class="row">
        <h4 class="col-3">Select Location:</h4>
        <select #location id="mySelect"  (change)="onSelect(location.value)" class="form-control col-3"></select>
        

    </div><br>
    <div class="row">
        <h4 class="col-3">Search by city: </h4>
        <input #location2 id="mySelect" class="form-control col-3" placeholder="search by city">
        <button class="btn-primary mybutton col-3" (click)="onSelect2(location2.value)">weather Details</button>
    </div>
   
    <div class="mycard">
        <img class="card-img-top" src="{{details.current.weather_icons[0]}}" width="100px" height="200px">
        <div class="card-body">
            <p class="text-danger"><b class="text-primary">Temperature: </b>{{details.current.temperature}}</p>
            <p class="text-danger"><b class="text-primary">WEATHER DESCRIPTION:
                </b>{{details.current.weather_descriptions[0]}}</p>
            <p class="text-danger"><b class="text-primary">HUMIDITY: </b>{{details.current.humidity}}</p>
            <p class="text-danger"><b class="text-primary">PRESSURE: </b>{{details.current.pressure}}</p>
        </div>

    </div>
    <button class="btn-primary  mybutton3" (click)="onClick()"> Settings</button>
 
</div>