.mybutton{
    border-radius: 4px;
}
img{
    margin-top: 50px;
    border-radius: 8px;
}
.mycard{
   
    width:52%;
    margin-left: 24%;
}
.mybutton3{
    border-radius: 4px;
    width: 52%;
    height: 40px;
    margin-left: 24%;
    /* background-color: rgb(121, 178, 231); */
}

