.mybutton{
    border-radius: 4px;
}
img{
    margin-top: 50px;
    border-radius: 8px;
}
.mycard{
   
    width:30%;
    margin-left: 23%;
}
.mybutton3{
    border-radius: 4px;
    margin-left: 23%;
    width: 350px;
    height: 40px;
}
