<div class="container text-primary">
    <h1>{{details.name}}</h1>
    <div class="row">
        <img src="https://openweathermap.org/img/wn/{{details.weather[0].icon}}@2x.png " width="100px" height="100px">
        <div class="col-9">
            
            <p class="text-danger"><b class="text-primary">TEMPERATURE: </b>{{details.main.temp}}</p>
            <p class="text-danger"><b class="text-primary">WEATHER DESCRIPTION: </b>{{details.weather[0].description}}</p>
            <p class="text-danger"><b class="text-primary">HUMIDITY: </b>{{details.main.humidity}}</p>
            <p class="text-danger"><b class="text-primary">PRESSURE: </b>{{details.main.pressure}}</p>
        </div>

    </div><br><br>
    <h3>Forcasting details:</h3>
    <div class="row" >
        
        <div class="box col-md-3 col-12 border shadow ml-2 mb-3 " style="border-radius: 10px;" *ngFor="let detail of forcasting" >
            <img src="https://openweathermap.org/img/wn/{{detail.weather[0].icon}}@2x.png " width="100px" height="100px">
            <p class="text-danger"><b class="text-primary">Date: </b>{{detail.dt_txt}}</p>
            <p class="text-danger"><b class="text-primary">TEMPERATURE: </b>{{detail.main.temp}}</p>
            <p class="text-danger"><b class="text-primary">WEATHER DESCRIPTION: </b>{{detail.weather[0].description}}</p>
            <p class="text-danger"><b class="text-primary">HUMIDITY: </b>{{detail.main.humidity}}</p>
            <p class="text-danger"><b class="text-primary">PRESSURE: </b>{{detail.main.pressure}}</p>
            
        </div> 
         
    </div>

</div>