<div class="container">
    <h2 class="text-info">Settings</h2>
    <hr>
    <div class="row">
        <span class="col-md-2 col-12 text-success"><b>Saved Locations: </b></span>
        <select class="form-control col-md-4 col-12" id="mySelect" #location> </select>
        <button class="btn-primary col-md-4 col-12 ml-2" (click)="remove(location.value)">Delete</button><br>
        
    </div><br>
    <div class="row">
        <span class="col-md-2 col-12 text-success"><b>Set Default: </b></span>
        <select class="form-control col-md-4 col-12" id="mySelect2" #location2> </select>
        <button class="btn-primary col-md-4 col-12 ml-2" (click)="default(location2.value)"> Set Default</button>
    </div>
    
    <br><br>
    <div class="row">
        <span class="col-md-2 col-12 text-success"><b>Add Location: </b></span>
        <input #item type="text" placeholder="add location" class="form-control col-md-4 col-12">
        <button class="btn-primary col-md-4 col-12 ml-2" (click)="addItem(item.value)">addLocation</button>
    </div>
    <br>
    <div class="row">
        <span class="col-md-2 col-12 text-success"><b>Change units: </b></span>
        <select #unit (change)="onSelect2(unit.value)" class="form-control col-md-8 col-12">
            <option value="metric">Metric</option>
            <option value="imperial">Imperial</option>
        </select>
    </div>
   

</div>